In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

from sklearn import tree
import sklearn
import matplotlib.pyplot as plt # using visualization package
# You can also export the tree in Graphviz format using the export_graphviz exporter
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.model_selection import train_test_split # Import train_test_split function
all_data = pd.read_csv("/Users/clause/documents/GitHub/bank_data_analysis/bank-full.csv",sep=";")

In [2]:
for i in range(len(all_data)):
    if all_data["month"][i]=="jan":
        all_data["month"][i]=1
    elif all_data["month"][i]=="feb":
        all_data["month"][i]=2
    elif all_data["month"][i]=="mar":
        all_data["month"][i]=3
    elif all_data["month"][i]=="apr":
        all_data["month"][i]=4
    elif all_data["month"][i]=="may":
        all_data["month"][i]=5
    elif all_data["month"][i]=="jun":
        all_data["month"][i]=6
    elif all_data["month"][i]=="jul":
        all_data["month"][i]=7
    elif all_data["month"][i]=="aug":
        all_data["month"][i]=8
    elif all_data["month"][i]=="sep":
        all_data["month"][i]=9
    elif all_data["month"][i]=="oct":
        all_data["month"][i]=10
    elif all_data["month"][i]=="nov":
        all_data["month"][i]=11
    elif all_data["month"][i]=="dec":
        all_data["month"][i]=12

/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=5
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=6
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=7
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=8
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=10
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=11
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=12
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=1
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=2
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=3
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=4
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/2345093200.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["month"][i]=9

In [3]:
feature_cols = ['age','job','marital','education','default','balance','housing','loan','contact','day','month','duration','campaign','pdays','previous','poutcome']
all_data=all_data.replace("yes",1)
all_data=all_data.replace("no",0)

In [4]:
X=all_data[feature_cols]
y=all_data["y"]

In [5]:
from sklearn import preprocessing
import numpy as np

In [6]:
X=X.replace("yes",1)
X=X.replace("no",0)

In [7]:
numerical_cols=['age','balance','campaign','pdays','previous','duration',"default","housing","loan"]
cats_cols=['job','marital','education','contact','poutcome']

In [8]:
X_cats=X[cats_cols]

In [9]:
X_cats=np.array(X_cats)
from sklearn.preprocessing import OneHotEncoder
enc = preprocessing.OneHotEncoder()
enc.fit(X_cats)    # fit来学习编码
X_cats=enc.transform(X_cats).toarray()    # 进行编码
X_cats=pd.DataFrame(X_cats)

In [10]:
X_numerical=X[numerical_cols]

In [11]:
X_time=X[["day","month"]]
X_alltime=30*X["month"]+X["day"]
X_alltime=X_alltime/360

In [12]:
X=pd.concat([X_alltime,X_cats,X_numerical],axis=1)

In [13]:
colnames=["time","onehot1","onehot2","onehot3","onehot4","onehot5","onehot6","onehot7","onehot8","onehot9","onehot10","onehot11","onehot12",
          "onehot13","onehot14","onehot15","onehot16","onehot17","onehot18","onehot19","onehot20","onehot21","onehot22","onehot23",
         "onehot24","onehot25","onehot26",'age','balance','campaign','pdays','previous','duration',"default","housing","loan"]
cats_cols=["onehot1","onehot2","onehot3","onehot4","onehot5","onehot6","onehot7","onehot8","onehot9","onehot10","onehot11","onehot12",
          "onehot13","onehot14","onehot15","onehot16","onehot17","onehot18","onehot19","onehot20","onehot21","onehot22","onehot23",
         "onehot24","onehot25","onehot26"]
numerical_cols=["time",'age','balance','campaign','pdays','previous','duration']
binary_cols=["default","housing","loan"]

In [14]:
X.columns=colnames

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [16]:
train_data=pd.concat([X_train, y_train], axis=1)

In [17]:
train_data_1=train_data[train_data["y"]==1]
train_data_0=train_data[train_data["y"]==0]

In [18]:
train_data_1

,time,onehot1,onehot2,onehot3,onehot4,onehot5,onehot6,onehot7,onehot8,onehot9,...,age,balance,campaign,pdays,previous,duration,default,housing,loan,y
42864,0.175000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,68,2812,2,181,1,279,0,0,0,1
42391,1.005556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,31,318,1,-1,0,310,0,0,0,1
40574,0.638889,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,59,989,2,-1,0,125,0,0,0,1
29846,0.177778,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,31,168,2,-1,0,193,0,0,0,1
1173,0.438889,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39,70,1,-1,0,813,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11631,0.552778,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25,-191,7,-1,0,958,0,1,0,1
34105,0.416667,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,35,1162,1,-1,0,175,0,0,0,1
34246,0.427778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,32,1138,3,83,3,214,0,0,0,1
44510,0.694444,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,61,1853,1,181,2,520,0,0,0,1
22926,0.738889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,60,17297,11,-1,0,664,0,0,0,1

In [19]:
train_data_0

,time,onehot1,onehot2,onehot3,onehot4,onehot5,onehot6,onehot7,onehot8,onehot9,...,age,balance,campaign,pdays,previous,duration,default,housing,loan,y
29736,0.177778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,41,2423,1,-1,0,101,0,1,0,0
19403,0.683333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53,1225,2,-1,0,70,0,0,0,0
12972,0.602778,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,35,126,2,-1,0,371,0,0,1,0
41632,0.819444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,61,1,1,-1,0,85,0,0,0,0
43881,0.522222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,23,508,1,-1,0,544,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43723,0.455556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50,1830,3,-1,0,318,0,0,0,0
32511,0.380556,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,34,528,2,-1,0,233,0,1,0,0
5192,0.475000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,48,4191,6,-1,0,363,0,0,0,0
12172,0.555556,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45,1783,11,-1,0,11,0,0,0,0
33003,0.380556,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45,349,2,336,2,179,0,1,0,0

In [20]:
train_data_1=train_data_1.sample(5000, replace=True)
train_data_0=train_data_0.sample(5000, replace=True)

In [21]:
train_data = pd.concat([train_data_0, train_data_1], axis=0)

In [22]:
train_data

,time,onehot1,onehot2,onehot3,onehot4,onehot5,onehot6,onehot7,onehot8,onehot9,...,age,balance,campaign,pdays,previous,duration,default,housing,loan,y
23601,0.744444,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,32,890,10,-1,0,27,0,1,1,0
33497,0.388889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33,574,2,-1,0,334,0,1,0,0
33348,0.388889,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35,876,1,-1,0,318,0,1,0,0
42473,1.027778,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,28,1351,1,-1,0,267,0,0,0,0
228,0.430556,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36,1033,2,-1,0,238,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44697,0.766667,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33,329,1,145,2,224,0,0,0,1
42612,0.113889,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,67,1430,2,91,3,499,0,0,0,1
31319,0.280556,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,44,1058,3,-1,0,188,0,0,0,1
27269,0.975000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45,-525,2,-1,0,980,0,0,1,1
43322,0.297222,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,22,780,3,-1,0,272,0,0,0,1

In [23]:
balance_mean=sum(train_data["balance"])/len(train_data["balance"])
balance_std=np.std(train_data["balance"])

age_mean=sum(train_data["age"])/len(train_data["age"])
age_std=np.std(train_data["age"])

pdays_mean=sum(train_data["pdays"])/len(train_data["balance"])
pdays_std=np.std(train_data["pdays"])

duration_mean=sum(train_data["duration"])/len(train_data["duration"])
duration_std=np.std(train_data["duration"])


previous_mean=sum(train_data["previous"])/len(train_data["duration"])
previous_std=np.std(train_data["previous"])

campaign_mean=sum(train_data["campaign"])/len(train_data["duration"])
campaign_std=np.std(train_data["campaign"])


train_data["balance"]=(train_data["balance"]-balance_mean)/balance_std
X_test["balance"]=(X_test["balance"]-balance_mean)/balance_std

train_data["age"]=(train_data["age"]-age_mean)/age_std
X_test["age"]=(X_test["age"]-age_mean)/age_std


train_data["pdays"]=(train_data["pdays"]-pdays_mean)/pdays_std
X_test["pdays"]=(X_test["pdays"]-pdays_mean)/pdays_std

train_data["duration"]=(train_data["duration"]-duration_mean)/duration_std
X_test["duration"]=(X_test["duration"]-duration_mean)/duration_std

train_data["previous"]=(train_data["previous"]-previous_mean)/previous_std
X_test["previous"]=(X_test["previous"]-previous_mean)/previous_std

train_data["campaign"]=(train_data["campaign"]-campaign_mean)/campaign_std
X_test["campaign"]=(X_test["campaign"]-campaign_mean)/campaign_std

/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/579859877.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["balance"]=(X_test["balance"]-balance_mean)/balance_std
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/579859877.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["age"]=(X_test["age"]-age_mean)/age_std
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/579859877.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["pdays"]=(X_test["pdays"]-pdays_mean)/pdays_std
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/579859877.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["duration"]=(X_test["duration"]-duration_mean)/duration_std
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/579859877.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["previous"]=(X_test["previous"]-previous_mean)/previous_std
/var/folders/fb/8h60y6l97p75gc1bc8g5y9v40000gn/T/ipykernel_39103/579859877.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["campaign"]=(X_test["campaign"]-campaign_mean)/campaign_std

In [24]:
train_data.isna().sum()

time        0
onehot1     0
onehot2     0
onehot3     0
onehot4     0
onehot5     0
onehot6     0
onehot7     0
onehot8     0
onehot9     0
onehot10    0
onehot11    0
onehot12    0
onehot13    0
onehot14    0
onehot15    0
onehot16    0
onehot17    0
onehot18    0
onehot19    0
onehot20    0
onehot21    0
onehot22    0
onehot23    0
onehot24    0
onehot25    0
onehot26    0
age         0
balance     0
campaign    0
pdays       0
previous    0
duration    0
default     0
housing     0
loan        0
y           0
dtype: int64

In [25]:
from sklearn.svm import LinearSVC
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectFromModel

In [26]:
X_train=train_data[colnames]
y_train=train_data["y"]

In [27]:
lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(X_train, y_train)
model = SelectFromModel(lsvc, prefit=True)
X_train = model.transform(X_train)

In [28]:
X_test=model.transform(X_test)

In [29]:
X_train=pd.DataFrame(X_train)
X_test=pd.DataFrame(X_test)

In [30]:
train_data=pd.concat([X_train,y_train],axis=0)
train_data.isna().sum()

0         0
1     10000
2     10000
3     10000
4     10000
5     10000
6     10000
7     10000
8     10000
9     10000
10    10000
11    10000
12    10000
13    10000
14    10000
15    10000
16    10000
17    10000
18    10000
19    10000
20    10000
dtype: int64

In [31]:
test_data=pd.concat([X_test,y_test],axis=0)

In [32]:
train_data.to_csv("train.csv")
test_data.to_csv("test.csv")